<app-tabs
  [tabTitles]="['Libros', 'Más vendidos', 'Añadir', 'Ejemplares']"
  (tabChanged)="handleTabChange($event)"
></app-tabs>

@if(tabs() === 0) {
<app-dynamic-search-display
  [title]="'Libros'"
  [data]="booksData()"
  [enableCategorySearch]="true"
  [categories]="booksCategories()"
  (onSearchEvent)="getBooks($event)"
></app-dynamic-search-display>
} @else if(tabs() === 1) {
<app-dynamic-search-display
  [title]="'Más vendidos'"
  [data]="booksData()"
  [enableCategorySearch]="false"
  [enableSearch]="false"
></app-dynamic-search-display>
} @else if(tabs() === 2) {
<app-dynamic-form
  [title]="'Añadir nuevo libro'"
  [fields]="fields"
  (sendFormData)="addNewBook($event)"
></app-dynamic-form>
} @else {
<app-dynamic-search-display
  [title]="'Ejemplares'"
  [data]="booksData()"
  [enableCategorySearch]="false"
  [enableSearch]="false"
></app-dynamic-search-display>
}
