<div class="menu-container">
  <router-outlet></router-outlet>
  <nav>
    <ul>
      <li>
        <a routerLink="/register-user" routerLinkActive="active"
          >Registro de Usuario</a
        >
      </li>
      <li routerLink="/books" routerLinkActive="active"><a>Libros</a></li>
      <li>
        <a routerLink="/loan-return" routerLinkActive="active"
          >Préstamo / Devolución</a
        >
      </li>
      <li>
        <a routerLinkActive="active">Usuarios / Editoriales / Sucursales</a>
      </li>
      <li><a routerLink="/events" routerLinkActive="active">Eventos</a></li>
      <li>
        <a routerLink="/sales-donations" routerLinkActive="active"
          >Ventas / Donaciones</a
        >
      </li>
      <li><a routerLink="/reports" routerLinkActive="active">Reportes</a></li>
    </ul>
  </nav>
</div>
