<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <h3>{{ title | uppercase }}</h3>
    @for (field of fields; track field.label) {
        <div class="field">
          <label>{{ field.label }}</label>
            @switch (field.type) {
                @case('text') {
                    <input [placeholder]="field?.placeholder || ''" type="text" [(ngModel)]="field.value" [name]="field.name" [required]="field.required" />
                }
                @case('number') {
                    <input [max]="field?.max || 524288" [min]="field?.min || 0" [placeholder]="field?.placeholder || ''" type="number" [(ngModel)]="field.value" [name]="field.name" [required]="field.required" />
                }
                @case('email') {
                    <input [placeholder]="field?.placeholder || ''" type="email" [(ngModel)]="field.value" [name]="field.name" [required]="field.required" />
                }
                @case('select') {
                    <select [(ngModel)]="field.value" [name]="field.name" [required]="field.required">
                    <option value="" disabled selected>{{field?.placeholder || 'Selecciona...'}}</option>
                      @for(option of field.options; track trackByIndex(option)) {
                          <option [value]="option.value">{{ option.label }}</option>
                      }
                    </select>
                }
                @case('checkbox') {
                    <input type="checkbox" [(ngModel)]="field.value" [name]="field.name" [required]="field.required" />
                }
                @case('date') {
                    <input [placeholder]="field?.placeholder || ''" type="date" [name]="field.name" [(ngModel)]="field.value" [required]="field.required" />
                }
            }
        </div>
    }
    <div class="button-container">
        <button type="submit">Aceptar</button>
        <button type="button" (click)="onCancel()">Cancelar</button>
      </div>
  </form>
  